/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 août 2015, 13:51:56
    Author     : Administrateur
*/
body{
    margin: 10px;
}

header{
    font-family: sans-serif;
    background-color: gray;
    color: white;
    text-align: center;
}
section{
    font-family: sans-serif;
    text-align: left;
    padding-top: 10px;    
}
section input{
    text-align: left;
}
section input{
    border: 1px groove black;
}
section label{
    font-weight: bold;
    display: block;
    float: left;
    width: 150px;
}
textarea{
    resize: none;
    border: 1px groove black;
}
footer{
    font-family: monospace;
    font-weight: bolder;
}
table{      
    margin-bottom: 20px;
}
table th{
    font-weight: bold;
}